h1{
    font-size: 60px;
    
}

body{
    background-color: green;
}

nav{
    border: solid, 2px, black;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:300px;
}

li{
    color:blue;
    
}

nav a{
    background-color: yellow;
    padding: 5px;
    margin: 20px;
}

#skip {
    text-transform: uppercase;
}

